.abordagem {
    color: var(--branco);
    padding: 4rem 0 8rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abordagem h3 {
    font-size: 2rem;
    margin: 40px 0;
}

.tabela_abordagem {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
}

.tabela_abordagem tr {
    height: 10rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 90px;
}

.tabela_abordagem tr td {
    margin-bottom: 32px;
}

.tabela_abordagem tr td:first-child {
    font-size: 23px;
}
