.abordagem {
    background: var(--branco);
    color: var(--preto);
    padding: 4rem 0 8rem 0;
    width: 100%;
}

.abordagem h3 {
    font-size: 2rem;
    margin-left: 5rem;
    padding: 1.5rem;
}

.tabela_abordagem {
    padding: 0 6rem 0 6rem;
    width: 100%;
}

.tabela_abordagem tr {
    height: 10rem;
}

.tabela_abordagem tr td {
    border-bottom: 1px solid var(--cinza);
    padding-bottom: .5rem;
    width: 33.3%;
    margin: 0;
}
