.apresentacao {
    align-items: center;
    display: flex;
    margin: 0 4rem;
}

.secao1_apresentacao {
    align-items: center;
    display: flex;
    position: relative;
    width: 60%;
}

.socialMidia_apresentacao {
    display: flex;
    background-color: rgb(22, 22, 22);
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: -0.9rem;
    gap: 1rem;
    height: 30%;
}

.socialMidia_apresentacao-link img {
    height: 2rem;
    width: 2rem;
}

.sobre_apresentacao {
    border-left: 4px solid rgb(46, 45, 45);
    padding-left: 3rem;
    width: 90%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre_apresentacao-titulo {
    font-weight: 400;
    font-size: 50px;
    line-height: 55px;
}

.sobre_apresentacao p {
    font-size: 20px;
    line-height: 30px;
    width: 80%;
}

.secao2_apresentacao {
    width: 40%;
}

.projetoDestaque_apresentacao {
    align-items: center;
    display: flex;
    height: 30rem;
    justify-content: center;
    border-radius: 20px;
    background: url(../img/image-gallery.svg), #2e2d2d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
}

.projetoDestaque_apresentacao-avaliacao {
    text-align: center;
    width: 100%;
}

.projetoDestaque_apresentacao-avaliacao p {
    font-size: 12px;
}

.projetoDestaque_apresentacao-avaliacao p>span {
    font-size: 20px;
}
