.apresentacao {
    align-items: center;
    display: flex;
    padding-top: 2rem;
    margin: 0 6rem;
}

.secao1_apresentacao {
    align-items: center;
    display: flex;
    position: relative;
    width: 60%;
}

.socialMidia_apresentacao {
    display: flex;
    background-color: #161616;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    bottom: 50;
    left: 0.1rem;
    gap: 1rem;
    height: 50%;
}

.socialMidia_apresentacao-link img {
    height: 2rem;
    width: 2rem;
}

.sobre_apresentacao {
    border-left: 4px solid #2e2d2d;
    margin-left: 1rem;
    padding-left: 2rem;
    width: 50%;
}

.sobre_apresentacao-titulo {
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
}

.secao2_apresentacao {
    width: 40%;
}

.projetoDestaque_apresentacao {
    align-items: center;
    display: flex;
    height: 30rem;
    justify-content: center;
    border-radius: 20px;
    background: url(../img/image-gallery.svg), #2e2d2d;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 5rem;
}

