.cabecalho {
    align-items: center;
    background: linear-gradient(180deg, #161616, #2e2d2d00);
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    width: 100%;
    gap: 40%;
}

.cabecalho h1 {
    font-size: 1.5rem;
    font-weight: 400;
}

.menu_cabecalho a {
    color: #e7e8ec;
    padding-right: 2rem;
}

.menu_cabecalho a:hover {
    color: #ffffff;
}

.menu_cabecalho a:last-child {
    padding-right: 0;
}

