.cabecalho {
    align-items: center;
    background: linear-gradient(180deg, #161616, #2e2d2d00);
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-top: 77px;
    width: 100%;
    height: 214px;
}

.cabecalho h1 {
    font-size: 0.8rem;
    font-weight: 400;
}

.menu_cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.menu_cabecalho a {
    font-size: 1.2rem;
}

.menu_cabecalho a.ativo {
    border-bottom: 1px solid var(--branco);
}

.menu_cabecalho a:hover {
    color: #ffffff;
}

.menu_cabecalho a:last-child {
    padding-right: 0;
}

