.contato {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contato h4 {
    font-size: 1.7rem;
    width: 90%;
}

.contato p {
    font-size: 1.07rem;
    width: 90%;
}

.contato button {
    background: #2e2d2d;
    border: none;
    border-radius: 10px;
    color: #e7e8ec;
    margin: 2rem 0 2rem 0;
    padding: 1rem 2rem;
    transition: all .5s;
}

.contato button:hover {
    background: #6b6b6b;
}
