.projetos_containner {
    align-items: center;
    display: flex;
    height: 115vh;
    padding: 2rem;
    padding-right: 0;
    width: 100%;
}

.descricao_projetos {
    padding: 0 6rem;
    width: 50%;
}

.sobre_projetos-titulo {
    font-size: 2rem;
    font-weight: 400;
}

.sobre_projetos-titulo strong {
    font-weight: 700;
}