.rodape {
    align-items: center;
    margin-bottom: 6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rodape__conteudo {
    padding-bottom: 2rem;
}

.link__container {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.rodape span {
    color: var(--cinza);
    margin: 2rem 0;
}