.sobreMim {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.sobreMim_fotoFrancisco img {
    border-radius: 20px;
    height: 20px;
    width: 20px;
}

.sobreMim_textos {
    padding: 1rem 0;
}

.sobreMin_titulo {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.2rem;
}

.sobreMim_textos p {
    font-size: 1.5rem;
    width: 28rem;
}