.sobreMim {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 330px;
}

.sobreMim_fotoFrancisco img {
    border-radius: 12px;
    height: 250px;
    width: 250px;
    margin-bottom: 65px;
}

.sobreMim_textos {
    padding: 1rem 0;
}

.sobreMin_titulo {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 300;
    margin-bottom: 32px;
}

.sobreMin_titulo span {
    font-weight: 700;
}

.sobreMim_textos p {
    margin: 0 auto;
    text-align: center;
    width: 85%;
    line-height: 15.54px;
}