.sobreMim {
    align-items: center;
    display: flex;
    justify-content: center;
}

.sobreMim_fotoFrancisco img {
    border-radius: 20px;
    height: 30rem;
    width: 30rem;
}

.sobreMim_textos {
    padding: 2rem;
}

.sobreMin_titulo {
    font-weight: 700;
    font-size: 3rem;
    line-height: 2.2rem;
}

.sobreMim_textos p {
    font-size: 1.5rem;
    width: 28rem;
}