@import url("cabecalho.css");
@import url("apresentacao.css");
@import url("abordagem.css");
@import url("projetos.css");
/*@import url("projetosSlide.css");*/
@import url("slide.css");
@import url("sobreMim.css");
@import url("contato.css");
@import url("rodape.css");

:root {
    --preto: #161616;
    --branco: #e7e8ec;
    --cinza: #2e2d2d;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    background: var(--cinza);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--branco);
    border-radius: 4px;
    border: none;
}

body {
    background: var(--preto);
    color: var(--branco);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;
}

nav {
    color: var(--branco);
    background-color: transparent;
    width: 100%;
    height: auto;
    line-height: 15px;
    -webkit-box-shadow: none;
}
